<div class="navbar-wrapper">
  <div class="container">
    <h1>Food Entries</h1>
    <div class="calendar-wrapper">
      <%= month_calendar events: @entries do |date, entries| %>
        <%= date.month %>/<%= date.day %>
        <br>
        <% entries.each do |entry| %>
          <small>
            <%= link_to "View Records", entry_path(entry) %>
          </small>
          <p>Calorie total: <%= entry.sum_calories %></p>
          <p>Deficit: ####</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>