<div class="navbar-wrapper">
  <div class="container">
    <h1>Food Entries</h1>
    <%= link_to "Add new entry", new_entry_path, class: "btn btn-primary" %>
    <div class="calendar-wrapper">
      <%= month_calendar events: @entries do |date, entries| %>
        <%= date.month %>/<%= date.day %>
        <br>
          <% entries.each do |entry| %>
            <small>
              <%= link_to "View Records", entry_path(entry) %>
            </small>
            <% goal = CalorieGoal.max_calories(current_user, date) %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Goal: <%= goal.nil? ? 'No Goal Recorded' : goal.calories %></li>
              <li class="list-group-item">Calorie total: <%= entry.sum_calories %></li>
                <% if goal.nil? %>
                  <li class="list-group-item">Not Enough Data</li>
                <% elsif (goal.calories - entry.sum_calories).positive? %>
                  <li class="list-group-item">Deficit: <span class="deficit"><%= (goal.calories - entry.sum_calories).round(1) %></span></li>
                <% else %>
                  <li class="list-group-item">Excess: <span class="excess"><%= (goal.calories - entry.sum_calories).round(1) * -1 %></span></li>
                <% end %>
            </ul>
          <% end %>
      <% end %>
    </div>
  </div>
</div>