<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="far fa-list-alt"></i>
  <% end %>

  <% if user_signed_in? %>
    <div class="nav-item dropdown">
      <%= image_tag User.check_profile_image(current_user), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "My Foods", foods_path, class: "dropdown-item" %>
        <%= link_to "My Journal", entries_path, class: "dropdown-item" %>
        <%= link_to "BMR Calculator", calculator_path, class: "dropdown-item" %>
        <%= link_to "Update Calorie Goal", show_goal_path, class: "dropdown-item" %>
        <%= link_to "View Previous Goals", calorie_goals_path, class: "dropdown-item"  %>
        <%= link_to "My Account", edit_user_registration_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  <% else %>
    <div class="nav-item">
      <%= link_to "Login/Signup", new_user_session_path, class: "nav-link" %>
    </div>
  <% end %>
</div>
