<div class="container">
  <h1>My Foods</h1>
  <% @foods.each do |food| %>
    <% if policy(food).edit? %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= food.name %></h5>
          <small><%= food.user.email %></small>
          <p><%= food.calories %> calories</p>
          <p><%= food.portion_size %></p>
          <p class="card-text"><%= food.notes %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
