<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="Food journaling brought to the digital age">
    <%= favicon_link_tag asset_path('book_icon.png') %>
    <title>Food Journal 2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="main-container">

      <%= render 'shared/navbar' %>

      <%= yield %>
      <%= render 'shared/flashes' %>
      <%= render 'shared/footer' %>
      
    </div>
  </body>
</html>
